[Desktop Entry]
Type=Application
Name=Transmission NordVPN
Exec=transmission-nordvpn
Terminal=false
Categories=Network;
Keywords=torrents;downloading;uploading;share;sharing;vpn;nordvpn;
