[Unit]
BindsTo=transmission-nordvpn-containers.service
After=transmission-nordvpn-containers.service

[Service]
Type=simple
ExecStart=/usr/bin/transmission-remote-gtk
ExecStopPost=/bin/systemctl --user --no-block stop transmission-nordvpn-containers.service
